CompileFlags:
  CompilationDatabase: "build"
  Add:
    - "-I/Users/son/Qt/6.11.1/macos/include"
    - "-F/Users/son/Qt/6.11.1/macos/lib"
    - "-I/Users/son/Qt/6.11.1/macos/lib/QtCore.framework/Headers"
    - "-I/Users/son/Qt/6.11.1/macos/lib/QtGui.framework/Headers"
    - "-I/Users/son/Qt/6.11.1/macos/lib/QtWidgets.framework/Headers"
    - "-I/Users/son/Qt/6.11.1/macos/lib/QtSql.framework/Headers"
    - "-I/Users/son/Documents/OOB_PROJECT"
    - "-I/Users/son/Documents/OOB_PROJECT/backend"
    - "-I/Users/son/Documents/OOB_PROJECT/cores"
    - "-I/Users/son/Documents/OOB_PROJECT/frontend"
    - "-DQT_CORE_LIB"
    - "-DQT_GUI_LIB"
    - "-DQT_WIDGETS_LIB"
    - "-DQT_SQL_LIB"
